@model Data.Model.EmpleadoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empleado</h4>
<hr />
<ul style="display:none;visibility:hidden;" id="validationMessages">

</ul>
<form asp-action="Create" id="formId" onsubmit="return false">
<div class="row">
    <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" accept="image/gif, image/jpeg, image/png" onchange="setImage(this)" class="form-control" />
                <span asp-validation-for="File"  class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:3%;">
                <input type="button" id="submitEmpleado" value="Create" class="btn btn-primary" />
            </div>
    </div>
    <div class="col">
         <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="FechaContratacion" class="control-label"></label>
                <input asp-for="FechaContratacion" type="date" class="form-control" />
                <span asp-validation-for="FechaContratacion" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:3%;">
                <label>Preview: </label>
                <br />
                <img alt="" src="" id="imageHolder" />
            </div> 
    </div>
</div>


</form >

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
